<!DOCTYPE html>
<head>
  <title>Profile</title>
</head>    
    <img src="https://media.licdn.com/dms/image/v2/D5603AQGixvJhgy2Lnw/profile-displayphoto-shrink_400_400/B56ZUNoEbLGQAg-/0/1739690363752?e=1750291200&v=beta&t=K-y010_B88ODC6ZcSTp-ehOPsSzvMi9vo8Sog2ZxYoA" alt="Profile Photo" width="200" height="200">

    <h2>Personal Details</h2>
    <form>
        <label for="name">Full Name:</label>
        <span id="name" style="color: grey;">Yimag Yusuf</span>
        <br><br>

        <label for="email">Email:</label>
        <span id="email" style="color: grey;">yhy210001@gmail.com</span>
        <br><br>

        <label for="phone">Phone Number:</label>
        <span id="number" style="color: grey;">469-349-7966</span>
        <br><br>

        <label for="address">Home Address:</label>
        <span id="address" style="color: grey;">Coppell, Texas</span>
        <br><br>

        <label for="dob">Date of Birth:</label>
        <span id="dob" style="color: grey;">09/17/2004</span>
        <br><br>
    </form>

    <hr>

    <h2>Change Password</h2>
    <form>
        <label for="currentPass">Current Password:</label>
        <input type="pass" id="currentPass" name="currentPass">
        <br><br>

        <label for="newPass">New Password:</label>
        <input type="pass" id="newPass" name="newPass">
        <br><br>

        <label for="confirmPass">Confirm New Password:</label>
        <input type="pass" id="confirmPass" name="confirmPass">
        <br><br>

        <button type="submit">Change Password</button>
    </form>

</body>
</html>